@import '../app/variable.scss';
@import '../app/placeholder.scss';

	/* ============================ header START ================================================================= */
.header {
	&__menu {
		& > ul {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			& > li {
				&:not(:last-child) {
					margin-right: 1rem;
				}
			}
		}
	}
	&__text{
		@extend %text;
		font-weight: 300;
	}
}
/* ============================ header END ================================================================= */
