@import '../app/variable.scss';
@import "../components/post/post.scss"; // імпортуємо на потрібну сторінку
@import "service-hero/service-hero.scss";
@import "service-quantum/service-quantum.scss";
@import "../components/button/button.scss";
@import "../components/input/input.scss";
@import "../header/header.scss";
@import "../footer/footer.scss";

.test {
	&__title {
		color: red;
		font-size: 3rem;
	}
}
.hero {
	&__title {
		font-size: 5rem;
		color: $hover-contact-info;
	}
	&__img {
		width: 15rem;
		height: 15rem;
		// буде в dist/styles/img/sprite_zz_item_2.jpg якщо залишем [npm run start]
		// не буде підключено якщо буде [npm run do]
		background: url("img/sprite/item_2.jpg") no-repeat center;
		background-size: cover; //розтягує картинку
	}
	&__img-2{
		width: 15rem;
		height: 15rem;
		background: url("img/sprite/rub.svg") no-repeat center;
		background-size: cover;
	}
	&__picture {
		// тег picture -- не стилізується
		& > * {
			max-width: 130rem;
			width: 100%;
			height: 30rem;
			object-fit: cover;
			object-position: center;
		}
	}
	&__icon{
		cursor: pointer;
		fill: #ae276d;
		transition: fill .25s $time-distribution-function;
		&:hover,
		&:focus{
		    fill: #8ab065;
		}
	}
}
