@import "variable.scss";
@import 'base.scss';
@import 'common.scss';

@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
	$filepath: "/static/fonts/" + $file;
	@font-face {
		font-family: quote($style-name);
		src: url($filepath + ".woff") format('woff'),
			//url($filepath + ".woff2") format('woff2'),
		url($filepath + ".ttf") format('truetype');
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
	}
}

@include font-face($family_Montserrat, 'Montserrat-Bold', 700, normal);
@include font-face($family_Montserrat, 'Montserrat-Light', 300, normal);
@include font-face($family_Montserrat, 'Montserrat-Medium', 500, normal);
@include font-face($family_Montserrat, 'Montserrat-Italic', 400, italic);
@include font-face($family_Montserrat, 'Montserrat-Regular', 400, normal);

@include font-face($family_Roboto, 'Roboto-Regular', 400, normal);

@include font-face($family_Raleway, 'Raleway-Regular', 400, normal);
@include font-face($family_Raleway, 'Raleway-Bold', 700, normal);

