@import "variable.scss";

/* ============================ app START ================================================================= */
html {
	font-size: 10px;
}
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	// outline: none;
}
a:focus,
a:active {
	// outline: none;
}
html,
body {
	height: 100%;
	// Скрол заблокаваний
	&.no-scroll {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}
body {
	margin: 0;
	padding: 0;
	color: $primary-text-color;
	font-family: $font-family, sans-serif;
	//text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea,
optgroup,
select, {
	font-family: $font-family;
	font-size: inherit;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
picture {
	display: block;
}
p {
	margin: 0;
	padding: 0;
}
a {
	cursor: pointer;
	display: inline-block;
	color: inherit;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ol,
ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}
img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	//vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
	padding: 0;
	margin: 0;
}
blockquote {
	margin: 0;
	padding: 0;
}
//прибрати стрілки для input type="number"
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}
.app {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.main {
	flex: 1 1 auto;
}
[class*="__container"] {
	max-width: $containerWidth;
	margin: 0 auto;
	padding: 0 1.5rem;
}

/* ============================ burger-menu START ================================================================= */
.burger-menu {
	width: 40px;
	height: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	transition: transform 330ms ease-out;
	& .line {
		background-color: $dark-color;
		border-radius: 5px;
		width: 100%;
		height: 4px;
		&.half {
			width: 50%;
		}
		&.start {
			transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
			transform-origin: right;
		}
		&.end {
			align-self: flex-end;
			transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
			transform-origin: left;
		}
	}
	&.open {
		transform: rotate(-45deg);
		& .line.start {
			transform: rotate(-90deg) translateX(3px);
		}
		& .line.end {
			transform: rotate(-90deg) translateX(-3px);
		}
	}
}
/* ============================ burger-menu END ================================================================= */

/* ============================ hamburger START ================================================================= */
:root {
	--primary: #000000;
	--bounce: 0.2s cubic-bezier(0.3, 0.3, 0.3, 1);
	--ease: 0.12s cubic-bezier(0.3, 0.3, 0.3, 1);
}
input[type="checkbox"]#hamburger-toggle {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.hamburger {
	&__label {
		--weight: 10%;
		--size: 50px;
		position: relative;
		display: grid;
		place-items: center;
		width: var(--size);
		height: var(--size);
		cursor: pointer;
		& circle {
			width: 100%;
			height: 100%;
			fill: none;
			stroke: var(--primary);
			stroke-width: calc(var(--weight) * 0.6);
			stroke-dasharray: 284;
			stroke-dashoffset: 284;
			stroke-linecap: round;
			transition: 0.4s ease;
		}
		& .hamburger {
			position: absolute;
			display: grid;
			place-items: center;
			width: 63%;
			height: 63%;
		}
	}
}
.hamburger__label .hamburger::before,
.hamburger__label .hamburger .center,
.hamburger__label .hamburger::after {
	--tx: 0;
	--rt: 0deg;
	content: "";
	position: absolute;
	width: 100%;
	height: var(--weight);
	border-radius: 0.3em;
	background: var(--primary);
	transform-origin: right;
	transition: var(--bounce) 0.1s;
}
.hamburger__label .hamburger .center {
	right: 0;
	transition: var(--bounce), width var(--ease);
	transition-delay: 0.3s;
}
.hamburger__label .hamburger::before {
	top: 0;
	transform: translate(var(--tx), 100%) rotate(var(--rt));
}
.hamburger__label .hamburger::after {
	bottom: 0;
	transform: translate(var(--tx), -100%) rotate(var(--rt));
}
#hamburger-toggle:checked ~ .hamburger__label circle {
	stroke-dashoffset: 0;
	transition-delay: 0.1s;
}
#hamburger-toggle:checked ~ .hamburger__label .hamburger::before, #hamburger-toggle:checked ~ .hamburger__label .hamburger::after {
	--tx: -15%;
	--rt: 45deg;
	transition: var(--bounce) 0.1s;
}
#hamburger-toggle:checked ~ .hamburger__label .hamburger::before {
	--ty: 15%;
	--rt: -45deg;
}
#hamburger-toggle:checked ~ .hamburger__label .hamburger .center {
	width: 0;
	right: calc(var(--size) * -0.16);
	transition: width var(--ease), right var(--bounce);
}
/* ============================ hamburger END ================================================================= */

@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
	$filepath: "/static/fonts/" + $file;
	@font-face {
		font-family: quote($style-name);
		src: url($filepath + ".woff") format('woff'),
			//url($filepath + ".woff2") format('woff2'),
		url($filepath + ".ttf") format('truetype');
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
	}
}

@include font-face($family_Montserrat, 'Montserrat-Bold', 700, normal);
@include font-face($family_Montserrat, 'Montserrat-Light', 300, normal);
@include font-face($family_Montserrat, 'Montserrat-Medium', 500, normal);
@include font-face($family_Montserrat, 'Montserrat-Italic', 400, italic);
@include font-face($family_Montserrat, 'Montserrat-Regular', 400, normal);

@include font-face($family_Roboto, 'Roboto-Regular', 400, normal);

@include font-face($family_Raleway, 'Raleway-Regular', 400, normal);
@include font-face($family_Raleway, 'Raleway-Bold', 700, normal);

/* ============================ app END ================================================================= */
