$primary-text-color: #041E2F;
$white-text-color: #ffffff;
$bg-color: #EDEDED;
$light-blue: #0066D6;
$blue: #0057B7;
$primary-bg-color: #041E2F;
$title-color: #000000;
$contact-info: #1D7EEA;
$footer-bg: #00263E;
$link-color: #2596FF;
$hover-contact-info: #1864B9;
$hover-footer-bg: #001725;
$hover-transparent-btn: #1D7EEA;
$medics-bg: #020410;
$select-bg:#004068;

$time-distribution-function: cubic-bezier(0.4, 0, 0.2, 1);

$family_Montserrat: 'Montserrat';
$family_Raleway: 'Raleway';
$family_Roboto: 'Roboto';

