$primary-text-color: #6B7280;
$light-color: #ffffff;
$dark-color: #000000;
$accent-color: #3730A3;
$accent-color-hover: #E28B00;
$title-color: #1F2937;
$secondary-color: #718093;
$hamburger-color: #000;
$burger-color: #000;
//розмір контейнера 1760px +30px для падінгів = 1790px
$containerWidth: 179rem;

$time-distribution-function: cubic-bezier(0.4, 0, 0.2, 1);

$family_Montserrat: 'Montserrat';
$family_Raleway: 'Raleway';
$family_Roboto: 'Roboto';

$font-family: $family_Montserrat;
