@@if(isButton != ""){
    <button class="button @@mod" type="@@type"><span>@@title</span></button>
}
@@if(isButton == ""){
    <a href="@@href" class="link @@mod">
        @@if(img != ""){
            <img src="@@img" alt="@@alt" class="button__icon">
        }
        <span>@@title</span>
    </a>
}
<!--@@include( 'develop/components/button/button.html', {-->
<!--"title": "вход в Личный кабинет",-->
<!--"mod": "test__button",-->
<!--"isButton": "button",-->
<!--"href": "login.html",-->
<!--"type": "button",-->
<!--"img": "@zz/time.svg",-->
<!--"alt": ""-->
<!--})-->
