@import '../app/palette.scss';

.input{
    width: 100%;
    position: relative;
    //z-index: 2;
    &__elem{
        padding: 1rem 0;
        border: none;
        border-bottom: 0.1rem solid $input-line;
        width: 100%;
        font-size: 1.8rem;
        line-height: 2.3rem;
        &::placeholder{
            color: transparent;
        }
    }
    &__label{
        color:$input-placeholder;
        position: absolute;
        z-index: 2;
        display: inline-block;
        top: 1rem;
        left: 0;
        font-size:1.8rem;
        line-height: 2.3rem;
        transition: all .2s linear;
        cursor: text;
    }
    &_login, &_recovery{
        &:not(:first-of-type){
            margin-top: 4rem;
        }
    }
    
    &_first_step {
        width: 100%;
        max-width: 33rem;
        &_subbuttons {
            .input__change {
                display: block;
            }
        }
    }
    &_select {
        &_cards {
            width: 100%;
            max-width: 26rem;
        }
        &_cards:not(:first-of-type){
            display: none;
            &.active{
                display: block;
            }
        }
        &::after {
            content: '';
            width: .9rem;
            height: .9rem;
            position: absolute;
            z-index: 3;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            border-left: .4rem solid transparent;
            border-right: .4rem solid transparent;
            border-top: .6rem solid $input-placeholder;
            cursor: pointer;
        }
        .input__elem {
            cursor: pointer;
        }
    }
    &__info {
        position: absolute;
        z-index: 3;
        top: 0;
        left: 53%;
        transform: translateX(-50%);
        width: 1.2rem;
        height: 1.2rem;
        cursor: help;
        &:hover > &_caution {
            opacity: 1;
        }
        &_icon {
            width: 100%;
            height: 100%;
        }
        &_caution {
            position: absolute;
            top: -4.7rem;
            left: 50%;
            transform: translateX(-50%);
            width: 33rem;
            padding: 1rem;
            background-color: $white;
            filter: drop-shadow(.2rem .2rem 2rem rgba(187, 19, 19, 0.5));
            border-radius: 1rem;
            transition: all .2s linear;
            opacity: 0;
            pointer-events: none;
            &::after {
                content: '';
                width: 1rem;
                height: 1rem;
                position: absolute;
                left: 50%;
                bottom: -1rem;
                transform: translateX(-50%);
                transition: all .2s linear;
                border-left: .5rem solid transparent;
                border-right: .5rem solid transparent;
                border-top: .7rem solid $white;
            }
            & > * {
                color: $dark-blue;
                font-size: 1.4rem;
                line-height: 1.7rem;
            }
        }
    }
    &__error-text {
        color: $secondary;
        font-size: 1.4rem;
        line-height: 1.8rem;
        position: absolute;
        bottom: -2.2rem;
        left: 0;
        transition: all .2s linear;
        opacity: 0;
    }
    &__calendar {
        position: absolute;
        z-index: 2;
        right: 0;
        top: 1.5rem;
        cursor: pointer;
    }
    &_error {
        .input__elem {
            border-bottom-color: $secondary;
        }
        .input__error-text {
            opacity: 1;
        }
    }
    &_focused {
        .input__label {
            color: $link;
            top: -.5rem;
            font-size: 1.2rem;
            line-height: 1.5rem;
        }
    }
    &__change {
        display: none;
        padding: 0;
        position: absolute;
        bottom: -2.3rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
        & > * {
            color: $link;
            font-size: 1.4rem;
            line-height: 1.8rem;
            text-decoration: underline;
            transition: all .2s linear;
        }
        &:hover {
            & > * {
                color: $primary;
            }
        }
        &_number {
            left: 0;
        }
        &_phone {
            right: 0;
        }
        &_resend {
            right: -16.6rem;
            &_timeout {
                pointer-events: none;
                cursor: none;
                & > * {
                    color: $light-grey;
                }
            }
        }
    }
    &__content {
        position: absolute;
        z-index: 4;
        top: 5rem;
        left: 0;
        width: 100%;
        max-width: 33rem;
        height: 0;
        padding-right: .5rem;
        background: $white;
        box-shadow: .2rem .2rem 2rem rgba(1, 93, 44, 0.2);
        border-radius: 1rem;
        transition: all .2s linear;
        &.open {
            height: 14.9rem;
            .input__content_inner {
                height: inherit;
            }
        }
        &_inner {
            height: 0;
            padding-right: .5rem;
            overflow-y: auto;
            &::-webkit-scrollbar {
                width: .3rem;
                border-radius: 1rem;
            }
            &::-webkit-scrollbar-track {
                width: .3rem;
                background-color: $white2;
                box-shadow: .2rem .2rem 2rem rgba(1, 93, 44, 0.2);
                border-radius: 1rem;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $light-grey3;
                box-shadow: .2rem .2rem 2rem rgba(1, 93, 44, 0.2);
                border-radius: 1rem;
            }
        }
        &_option {
            position: relative;
            padding: 1rem;
            color: $dark-blue;
            font-size: 1.3rem;
            line-height: 1.7rem;
            transition: all .2s linear;
            cursor: pointer;
            &:first-of-type {
                border-radius: 1rem 0 0 0;
            }
            &:last-of-type {
                border-radius: 0 0 0 1rem;
            }
            &:not(:last-child) {
                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: -.1rem;
                    transform: translateX(-50%);
                    width: calc(100% - 2rem);
                    height: .1rem;
                    background-color: $light-grey3;
                    box-shadow: .2rem .2rem 2rem rgba(1, 93, 44, 0.2);
                    border-radius: 1rem;
                    transition: all .2s linear;
                }
            }
            &:hover,
            &.option_selected {
                background-color: $light-grey3;
                &:not(:last-child) {
                    &::after {
                        opacity: 0;
                    }
                }
            }
        }
    }
}

@media (max-width:991px) {
    .input {
        &__change {
            & > * {
                font-size: 1.2rem;
            }
            &_resend {
                right: 0;
            }
        }
    }
}
@media (max-width:666px) {
    .input{
        &_first_step {
            margin-right: 0;
        }
        &__info {
            left: 58%;
            &_caution {
                width: 25rem;
                top: -6.5rem;
            }
        }
        &__change {
            & > * {
                font-size: 1.4rem;
            }
            &_resend {
                right: auto;
                left: 50%;
                transform: translateX(-50%);
                bottom: -11rem;
            }
        }
        &_select {
            &_cards {
                max-width: 28.8rem;
                margin-bottom: 2rem;
            }
        }
    }
}